.list {
    padding: 0 0 120px 0 ;
   &__grid {
    display: grid;
    grid-template-columns: repeat(auto-Fill,minmax(295px,1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: space-between;
   }
   &__grid img {
       opacity: 0.8;
       width: 100%;
       &:hover {
           opacity:1;
       }
   }
}
.list__card {
    &__title {
        font: $h6-fonts;
        &--date {
            margin-right: 5px;
            color: $secondary-200;
        }
    } 
    &__description {
        font: $span2-fonts;
        color: $secondary-200;
    }
    &__price {
        font: $span1-fonts;
        color: $primary-100;
    }
}